@import "./variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  letter-spacing: 0.01rem;
  @include flexCenter();
  justify-content: center;
  align-items: start;
}

// helper classes

.profile{
  @include flexCenter;
  gap: .8rem;
}

.background-grey{
  background-color: $backgroundColorGrey !important;
}

.background-dark{
  background-color: $backgroundColorDark !important;
}

.background-white{
  background-color: white !important;
}

.text-color-dark{
  color: $textColorDark !important; 
}


// text styles //
h4,h5{
  color: $h4color;
}

h5,h6{
  font-size: 13px;
}

h5{
  opacity: 50%;
}

h3,h6{
  color: $h3color;
}

h3{
  margin: 1rem 0 0.8rem;
}

h6{
  opacity: 70%;
}


// components
.testimonial-content{
  background-color: $testimonialContentColor;
  padding: 1.25rem;
  border-radius: .5rem;
}

.profile img{
  width: 2rem;
  border-radius: 50%;
  border: 1px solid hsl(224, 10%, 45%);
}

// layout styles

.testimonial-container{
  background-color: $backgroundColor;
  display: grid;
  gap: 1.25rem;
  width: min(90%,70rem);
  margin: 4rem 0;
}

// media query

@media screen and (min-width: 55rem;){
  body{
    background: red;
  }
}